/* Gallery Page */
#gallery{
    width: 50%;
    height: 100vh;
    position: absolute;
    top:0%;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: antiquewhite;
}
.navbar{
    margin-top: 10px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo{
    width: 60%;
    margin-left: 10px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo img{
    margin-right: 10px;
    box-sizing: border-box;
    height: inherit;
    border-radius: 50%;
}
#search{
    padding-left: 5px;
    margin-right: 30px;
    width: 50%;
    height: 30px;
    border-radius: 10px;
}
#addimage{
    margin-right: 30px;
    padding: 5px 10px;
    width: 200px;
    border-radius: 5px;
    font-size: large;
    background-color: green;
    color: white;
}
#addimage:hover{
    box-shadow: 0px 0px 5px 2px greenyellow;
}

#imageCards{
    margin: 10px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}
#passwordInput{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 2px solid  black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px gray;
}
#passwordInput h2{
    margin: 5px 0px;
}
#passwordInput p{
    margin: 5px 0px;
}
#passwordInput input{
   width: 50%;
   padding-left: 5px;
   border-radius: 5px;
   text-align: center;
}
#passBtn{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#passBtn button{
    border-radius: 5px;
    padding: 5px 10px;
}
#passBtn:nth-child("1"){
    background-color: aqua;
}
#passBtn:nth-child(2){
    background-color: red;
}

#loader{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    font-size: x-large;
    font-family: "Frank Ruhl Libre", Georgia, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
#loader div{
    margin-left: 10px;
    width: 10px;
    height: 30px;
    border-radius: 2px;
}
#span1{
    background-color: rgb(169, 98, 236);
    animation: load 0.5s linear infinite;
    animation-delay: 0.1s ;
}
#span2{
    background-color: rgb(237, 101, 101);
    animation: load 0.5s linear infinite;
    animation-delay: 0.2s;
}
#span3{
    background-color: rgb(122, 122, 240);
    animation: load 0.5s linear infinite;
    animation-delay: 0.3s;
}

@keyframes load{
    0%{
        height: 1px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 30px;
    }
}
/* Card Page */
.card{
    margin: 10px;
    width: 230px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 5px 5px wheat;
    font-size: 90%;
    box-sizing: border-box;
}
.card img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card:hover{
    scale:1.01;
}
.delete{
    position: absolute;
    top: 5%;
    right: 5%;
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    background-color: inherit;
    font-weight: bold;
    font-size: medium;
    font-family: "Frank Ruhl Libre", Georgia, serif;
}

.imageName{
    position: absolute;
    bottom: 5%;
    left: 40%;
    color: white;
    font-weight: bold;
    font-family: "Frank Ruhl Libre", Georgia, serif;
}

/* Add Image Page */

#form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
}

#addImageForm{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(223, 158, 36);
    background-color: wheat;
    border-radius: 5px 20px;
    font-family: "Frank Ruhl Libre", Georgia, serif;
    box-shadow: 0px 5px 10px 5px wheat;
}
.input{
    margin-bottom: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.input input{
    padding-left: 10px;
    margin-top: 5px;
    width: 100%;
    height: 20px;
    border-radius: 5px;
}
.btnInput{
    display: flex;
    flex-direction: row;
}
#cancle{
    padding: 5px 10px;
    background-color: red;
    color: white;
    font-size: medium;
    font-family: "Frank Ruhl Libre", Georgia, serif;
    border-radius: 5px;
}
#submit{
    padding: 5px 10px;
    margin-left: 10px;
    background-color: green;
    color: white;
    font-size: medium;
    font-family: "Frank Ruhl Libre", Georgia, serif;
    border-radius: 5px;
}
#submit:hover{
    box-shadow: 0px 0px 5px 5px rgb(118, 237, 118);
}
#cancle:hover{
    box-shadow: 0px 0px 5px 5px rgb(230, 112, 112);
}

@media (min-width: 200px) and (max-width: 1000px){
    #gallery{
        width: 100%;
    }

    .card{
        width: 100px;
        height: 200px;
    }
    .imageName{
        position: absolute;
        bottom: 5%;
        left: 20%;
    }
    .navbar{
        flex-direction: column;
    }
    #search{
        margin-top: 10px;
    }
    #addimage{
        margin-top: 10px;
    }
}

